<div class="container-fluid">
  <div class="row">
    <div class="col px-0">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col px-5 pt-2 d-flex justify-content-around">
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila4.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila5.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila1.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
              </div>

            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col px-5 pt-2 d-flex justify-content-around">

                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila5.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila1.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila4.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
                <card class="bg-white d-inline-block">
                  <img src="/img/people/lila.jpg" alt="lila" class="img-fluid img-size-border" style="max-height: 283px; border-radius: 15px;">
                </card>
              </div>

            </div>
          </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control bg-white text-secondary rounded-circle shadow-chevron px-2" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control bg-white text-secondary rounded-circle shadow-chevron px-2" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
