<div class="conatier-fluid gray-bg">
  <div class="container pt-4">
    <div class="row">
      <div class="col">
      <p class="mb-0 font-weight-bold">LEARN MORE</p>
      <p class="mb-0">Day Care</p>
      <p class="mb-0">Home Boarding</p>
      <p class="mb-0">House Visit</p>
      <p class="mb-0">House Sitting</p>
      <p class="mb-0">Dog Walking</p>
      <p class="mb-0">FAQ</p>

      </div>
      <div class="col">
        <p class="mb-0 font-weight-bold">ABOUT PAW FAVOR</p>
        <p class="mb-0">Our Story</p>
        <p class="mb-0">Partners</p>
        <p class="mb-0">In the press</p>
        <p class="mb-0">Reviews</p>
      </div>
      <div class="col">
        <p class="mb-0 font-weight-bold">PAYEMENT METHODS</p>
        <img src="/img/landing/payment.png" alt="" class="img-fluid" style="margin-left:-10px;">
      </div>
      <div class="col-4">
        <p class="mb-0 font-weight-bold">CONTACT US</p>
        <p class="mb-0">hello@pawfavor.com.au</p>
        <p class="mb-0">+61 25 264 568</p>
        <p class="mb-0">Help Center</p>
        <div class="pt-5">
          <p class="font-weight-bold">FIND US</p>
          <i class="fab fa-facebook-square color-gray-icon pr-3 h3"></i>
          <i class="fab fa-twitter-square color-gray-icon px-3 h3"></i>
          <i class="fab fa-instagram-square color-gray-icon px-3 h3"></i>
          <i class="fab fa-youtube color-gray-icon pl-3 h3"></i>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <hr class="mt-0">
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-8 d-flex justify-content-between">
        <div> &copy; Paw Favor - 2021 - All rights reserved</div>
        <div> Terms and Conditions</div>
        <div> Privacy and Cookies</div>
        <div> Sitemap</div>
      </div>
      <div class="col">
        <span class="float-right"><i class="fas fa-globe"></i> English (EN)</span>
      </div>
    </div>
  </div>
</div>
