<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light {% if app.user %}navbar-gradient{% else %}bg-transparent{% endif %} pt-3" style="position: absolute; top: 0; left: 0; width: 100%;">
    <a href="{{path('public_home')}}">
      <img src="/img/logo/PF_logo_secondary_white.png" style="height:28px; width:auto; margin-left:85px;" alt="Paw Favor">
    </a>
    <div class="text-white"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if app.user %}
      {% set userRole = "owner" %}
      {% for role in app.user.roles %}
        {% if role == "ROLE_SITTER" %}
          {% set userRole = "sitter" %}
        {% endif %}
      {% endfor %}

      {% if userRole == "sitter" %}
        {% include "includes/navbars/content_sitter.html.twig" %}
      {% else %}
        {% include "includes/navbars/content_owner.html.twig" %}
      {% endif %}
    {% else %}
      {% include "includes/navbars/content_public.html.twig" %}
    {% endif %}
  </nav>
</div>
