{% extends "layout/base.html.twig" %}

{% block title %}Paw Favor - Home{% endblock %}

{% block body %}

  {% include "includes/navbar.html.twig" %}


  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->

  <!------------------------------------------------------HEAD CONTENT------------------------------------------------->

  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->

  <div class="container py-5">
    <h1> Bookings</h1>

    {% include "includes/owner/bookings/booking_list.html.twig" %}

  </div>


  {% include "includes/footer.html.twig" %}


{% endblock %}
