<div class="font-weight-bold ml-4 mt-3 mb-0">Upcoming bookings</div>
{% include "includes/owner/bookings/upcoming_bookings.html.twig" %}

<div class="font-weight-bold ml-4 mt-3 mb-0">Awaiting bookings</div>
{% include "includes/owner/bookings/awaiting_bookings.html.twig" %}

<div class="font-weight-bold ml-4 mt-3 mb-0">Completed bookings</div>
{% include "includes/owner/bookings/completed_bookings.html.twig" %}

<div class="font-weight-bold ml-4 mt-3 mb-0">Cancelled bookings</div>
{% include "includes/owner/bookings/cancelled_bookings.html.twig" %}
