<div class="container-fluid">

  <div class="row">
    <div class="col-8">
      <div class="search-result-container p-3">
        <div>24 jan - 26 jan</div>
        <h1 class="font-weight-bold pt-0 pb-3">Day Care, Dutton Park, QLD</h1>
        <div>
          <span class="text-muted rounded-pill border px-3 py-2">About my pet <small><i class="fas fa-chevron-down pl-2"></i></small></span>
          <span class="text-muted rounded-pill border px-3 py-2">Housing conditions<small><i class="fas fa-chevron-down pl-2"></i></small></span>
          <span class="text-muted rounded-pill border px-3 py-2">Budget<small><i class="fas fa-chevron-down pl-2"></i></small></span>
          <span class="text-muted rounded-pill border px-3 py-2">More filters<small><i class="fas fa-chevron-down pl-2"></i></small></span>
          <span class="text-muted rounded-pill border px-3 py-2 float-right" style="margin-top:-10px;">Sort by<small><i class="fas fa-chevron-down pl-2"></i></small></span>
        </div>

        <a href="/view_sitter/9" class="text-dark" style="text-decoration:none;">
          <div class="d-flex mt-5 search-item-container">
            <img src="/img/people/lila.jpg" alt="pp" class="square-200 ">
            <div class="flex-grow-1 pl-3">
              <div><small class="text-muted">Dutton Park, QLD </small><i class="fas fa-heart float-right h5"></i></div>
              <div class="h4"> Lila C.</div>
              <hr class="my-1" style="width:50px; margin-left:0;">
              <p>Reliable and Caring pet sitter</p>
              <div>
                <span class="border rounded-lg px-2 py-1 mr-2"><small><i class="fas fa-award mr-2"></i></small><span class="text-muted">Super sitter</span></span>
                <div class="text-right h4 font-weight-bold">$ 39 AUD</div>
                <div>
                  <i class="fas fa-star text-warning"></i>
                  <small class="text-muted ml-2">4,3 (54 reviews)</small>
                  <small class="text-muted float-right">/day</small></div>
              </div>
            </div>
          </div>

          <hr class="my-2">

        </a>


        <a href="/view_sitter/1" class="text-dark" style="text-decoration:none;">
          <div class="d-flex  search-item-container">
            <img src="/img/people/william.jpg" alt="pp" class="square-200 ">
            <div class="flex-grow-1 pl-3">
              <div><small class="text-muted">Dutton Park, QLD </small><i class="far fa-heart float-right h5"></i></div>
              <div class="h4"> William Th.</div>
              <hr class="my-1" style="width:50px; margin-left:0;">
              <p>Pooch Care Plus - Experienced and professional dog lover</p>
              <div>
                <span class="border rounded-lg px-2 py-1 mr-2"><small><i class="fas fa-stopwatch mr-2"></i></small><span class="text-muted">Respond within hours</span></span>
                <span class="border rounded-lg px-2 py-1"><small><i class="fas fa-redo mr-2"></i></small><span class="text-muted">8 recurring guests</span></span>
                <div class="text-right h4 font-weight-bold">$ 45 AUD</div>
                <div>
                  <i class="fas fa-star text-warning"></i>
                  <small class="text-muted ml-2">4,3 (53 reviews)</small>
                  <small class="text-muted float-right">/day</small></div>
              </div>
            </div>
          </div>

          <hr class="my-2">
        </a>







      </div>
    </div>
    <div class="col-4">
      <div class="search-map-container" style="background-image:url('/img/map.png'); background-size:100% auto;"></div>
    </div>
  </div>

</div>
