<div class="container-fluid gray-bg">
  <div class="container">
    <div class="row">
      <div class="col p-5 left _trans06">
        <h1 class="font-weight-bold">Do you want <br>discounts at your <br>favorite pet stores?</h1>
        <h5>Use Pawfavor and accumulate points that you can redeem at our partner stores</h5>
        <div class="button btn btn-warning rounded-pill text-white px-5 mt-5">DISCOVER OUR PARTNERS</div>
      </div>
      <div class="col  p-5 right _trans06">
        <div class="bg-dog"></div>
      </div>
    </div>
  </div>
</div>
