<div class="container-fluid">
  <div class="conatiner px-5 m-4">
    <div class="row py-4">
      <div class="col">
        <h1 class="text-center py-4 text-warning font-weight-bold">Frequently asked questions</h1>
        <div class="accordion shadow-accordion" id="accordionExample">
          <div class="card border-0">
            <div class="card-header bg-white border-0" id="headingOne">
              <p class="mb-0 btn btn-block text-left font-weight-bold  pl-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Can you meet a Pet sitter before making a booking?
                  <i class="fas fa-chevron-down float-right mt-2"></i>

              </p>

            </div>

            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body pt-0">
                Once you’ve found a Pet Sitting candidate through Mad Paws, you can arrange a Meet & Greet. This gives you a forum to meet your potential Pet Minder in person and ensure they’re perfect for your animal. Just as integrally, your pet will have the chance to “interview” the human who might be caring for them! Still not 100%? Why not book your pet in for an overnight trial stay with their Pet Sitter?

                After the Meet & Greet, if you decide the Pet Sitter is ideal for your furbaby, you can confirm the booking. While you’re away, your Pet Boarding pro will keep you updated with photos and messages.

                From Sydney to Perth, from Brisbane to Melbourne, you’ll find the best in Australian Pet Sitting with Mad Paws. Contact a Mad Paws Pet Sitter today and give your furry friend a top-tier Pet Boarding experience!
              </div>
            </div>
          </div>
          <hr class="my-0 mx-4" style="border-bottom: 1px solid #AAAAAA;">
          <div class="card border-0">
            <div class="card-header bg-white border-0" id="headingTwo">
              <p class=" mb-0 btn btn-block text-left collapsed font-weight-bold pl-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How to become a Pet Sitter? How to make money Pet sitting?
                  <i class="fas fa-chevron-down float-right mt-2"></i>

              </p>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body pt-0">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <hr class="my-0 mx-4" style="border-bottom: 1px solid #AAAAAA;">
          <div class="card border-0">
            <div class="card-header bg-white border-0" id="headingThree">
              <p class="mb-0 btn btn-block text-left collapsed font-weight-bold  pl-0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What can you expect from a Mad Paws Pet sitter?
                  <i class="fas fa-chevron-down float-right mt-2"></i>
              </p>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body pt-0">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <hr class="my-0 mx-4" style="border-bottom: 1px solid #AAAAAA;">
          <div class="card border-0">
            <div class="card-header bg-white border-0" id="headingThree">
              <p class="mb-0 btn btn-block text-left collapsed font-weight-bold  pl-0" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Do Pet Sitters need Accident Cover ?
                  <i class="fas fa-chevron-down float-right mt-2"></i>
              </p>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body pt-0">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <hr class="my-0 mx-4" style="border-bottom: 1px solid #AAAAAA;">
          <div class="card border-0">
            <div class="card-header bg-white border-0" id="headingThree">
              <p class="mb-0 btn btn-block text-left collapsed font-weight-bold  pl-0" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  Can you trust Pet Sitters ?
                  <i class="fas fa-chevron-down float-right mt-2"></i>
              </p>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body pt-0">
                <p>At Paw Favor, we know it can be hard to entrust your pet’s welfare to someone else. After all, they’re not just a dog, cat, puppy, rabbit, guinea pig, or bird – they’re a part of your family. It’s for this reason that Paw Favor takes Pet Sitting so seriously.</p>
                <p>All of our Pet Sitters undergo a thorough vetting procedure before they appear on Paw Favor. In fact, of all our Pet Sitting applicants, only one in four are accepted to become Paw Favor Pet Sitters. If you’re still not sure about a Pet Sitter, you can also read reviews from previous clients. By doing so, you can learn more about their pet care style from other Pet Owners.</p>
                <p>Our quest to give you peace of mind doesn’t stop there. Every Paw Favor booking is also protected by Paw Favor.</p>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-warning text-center mt-4">See more questions</h5>
      </div>
    </div>
  </div>
</div>
