<div class="container-fluid">
  <div class="row py-4">
    <div class="col">
      <h3 class="text-center pt-3 text-warning font-weight-bold">How it works</h3>
      <h5 class="text-center font-weight-normal mb-4">Search, Meet and Go! We take care of your doggo</h5>
      <div class="row">
        <div class="col">
          <div class="text-warning display-1 text-center position-relative"><img src="/img/landing/n1.png" class="img-fluid" alt=""></div>
          <div class="font-weight-bold text-center text-number-location lead">Find the purrfect sitter</div>
          <div class="text-center">Search and find experienced local pet sitters nearby that meet your pet’s needs.</div>
        </div>
        <div class="col">
          <div class="text-warning display-1 text-center position-relative"><img src="/img/landing/n2.png" class="img-fluid" alt=""></div>
          <div class="font-weight-bold text-center text-number-location lead">Arrange Meet and Greet</div>
          <div class="text-center">Get to know your sitter in person, and see if they are a good fit for your best friend. First impression is always key!</div>
        </div>
        <div class="col">
          <div class="text-warning display-1 text-center position-relative"><img src="/img/landing/n3.png" class="" alt=""></div>
          <div class="font-weight-bold text-center text-number-location lead">Book online</div>
          <div class="text-center">Book your sitter through our safe online system, with flexible cancellations in case your plans change.</div>
        </div>
      </div>


    </div>
  </div>
</div>
